<a href="https://colab.research.google.com/github/Adil-Asif/DataScience/blob/main/University/Labs/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#QUESTION 1
Go through Python tutorial https://docs.python.org/3/tutorial/. Specially focus on List /
Input Output

# Question 2

In [ ]:
import math

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))

Enter a: 2
Enter b: 5
Enter c: -3

In [ ]:
d = b**2 - 4*a*c
print(d)

49

In [ ]:
if d > 0:
    x1 = ((-1*b)+math.sqrt(d))/(2*a)
    x2 = ((-1*b)-math.sqrt(d))/(2*a)
    print(x1)
    print(x2)
elif d == 0:
    x = (-1*b)/(2*a)
    print(x)
else:
    print("Only complex roots")

0.5
-3.0

# Question 3

In [ ]:
def smaller(x,s,n):
    for i in range(0,s):
        if x[i]<n :
            print(x[i],'<',n)
x = [13,56,21,45,20,43,12,43,6]
smaller(x,9,21)

13 < 21
20 < 21
12 < 21
6 < 21

#Question 4

In [ ]:
list1 = [12,24,35,24,88,120,155,88,120,155]
list1.reverse()
list2 = set(list1) #set stores numbers in random order
print(list2)

{35, 155, 12, 120, 24, 88}

#Question 5

In [ ]:
list1 = [1,3,6,78,35,55]
list2 = [12,24,35,24,88,120,155]  
set1= set(list1) & set(list2)
print(set1)

{35}

#Question 6

In [ ]:
height = int(input("Enter height: "))
weight = int(input("Enter weight: "))

Enter height: 4
Enter weight: 5

In [ ]:
BMI = weight/(height**2)
print("Your BMI is: ",BMI)

Your BMI is:  0.3125

#Question 7

In [ ]:
growth_multiplier = 1.3
income = int(input("Enter your income this year: "))

Enter your income this year: 1000

In [ ]:
prediction = growth_multiplier*7*income
print("You will be earning: ",prediction," in 7 years")

You will be earning:  9100.0  in 7 years

#Question 8

In [ ]:
mass = int(input("Enter your mass in kg: "))
stone = 14
kg = 2.2

Enter your mass in kg: 60

In [ ]:
M = (mass*kg)/stone
print("Your weight in stone is: ",M," pounds")

Your weight in stone is:  9.428571428571429  pounds

#Question 9

In [ ]:
list1 = []
list1.append('Hall 11.3')
list1.append('Kitchen 6')
list1.append('Bedroom 12.5')
print(list1)

['Hall 11.3', 'Kitchen 6', 'Bedroom 12.5']

#Question 10

In [13]:
score = [[3.0,3.33,3.67,3.45,2.67]]
score.append([2.0,2.23,3.27,2.07,3.05])
score.append([1.45,3.33,2.67,3.0,1.57,4.00])
#to view single records
print(score[0])
print(score[1])
print(score[2])
#print(list1) #to view complete list

student = [["Ali"],["Zain"],["Wasif"]]
print(student)
student[0].extend(score[0])
student[1].extend(score[1])
student[2].extend(score[2])
print("Final List: ",student)

[3.0, 3.33, 3.67, 3.45, 2.67]
[2.0, 2.23, 3.27, 2.07, 3.05]
[1.45, 3.33, 2.67, 3.0, 1.57, 4.0]
[['Ali'], ['Zain'], ['Wasif']]
Final List:  [['Ali', 3.0, 3.33, 3.67, 3.45, 2.67], ['Zain', 2.0, 2.23, 3.27, 2.07, 3.05], ['Wasif', 1.45, 3.33, 2.67, 3.0, 1.57, 4.0]]